/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.example
.DS_STORE

.gitattributes

/bootstrap/cache/*
bootstrap/cache/*
composer.lock

storage/exports
storage/exports/*
